@import 'utilities.css';

:root {
    --primary: #61E697;
    --pure: #FFFFFF;
    --dark: #232326;
}

body {
    font-family: 'poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100%, 70% 87%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    margin-right: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

header nav.left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav.branding {
    margin-right: 10rem;

}

.hero {
    padding-bottom: 5rem;

}

.hero .left img {
    width: 400px;
    border-radius: 500px;
}

.hero .right {
    color: var(--pure);
    margin-top: -5rem;
}

.hero .right h6 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero .right h1 span {
    color: var(--primary);

}

.about {
    padding: 3rem 0;
}

.about .social a img {
    height: 30px;
    margin-top: 1rem;
    margin-right: 10px;
}

.about .left img {
    height: 500px;
    border-radius: 1000px;
}

.about .right h1 {
    font-size: 50px;
}

.about .right h1 span {
    color: var(--primary);
}

.about .right h1 {
    font-size: 20px;
    line-height: 3;
}

.about .right p {
    font-size: 20px;
}

.skills {
    background: var(--dark);
    clip-path: polygon(74% 7%,
            100% 0,
            100% 35%,
            100% 70%,
            100% 100%,
            50% 100%,
            0 100%,
            0% 70%,
            0% 35%,
            0 0);
}

.skills .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills .section-heading {
    color: var(--pure);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.skills .section-heading span {
    color: var(--primary);
}

.section-heading+p {
    color: var(--pure);
    text-align: center;
    margin-bottom: 6rem;
}



.skills .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}

.skills .card-wrapper .card {
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transform: all 0.3s ease;
}

.skills .card-wrapper .card h2 {
    margin-bottom: 1rem;
}

.card-wrapper img {
    height: 100px;
    position: absolute;
    top: -3.5rem;
    left: 50;
    transform: translatex(-50%);

}

.skills .card-wrapper .card:hover {
    background: var(--pure);
}

.slider .slide img {
    width: 500px;
    height: 280px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.projects .container {
    margin-bottom: 100px;
}

.projects h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;

}

.slider .slide {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects .slider-dot .dots {
    list-style-type: none;
    display: flex ! important;
    justify-content: center;
}

.projects .slider-dot button {
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 5px;
    border: none;
    outline: none;
    background: #898989;
    border-radius: 50px;
    cursor: pointer;

}

.projects .dots li.slick-active button {
    background: var(--primary);
    width: 16px;
}

.myblog {
    background: var(--dark);
    padding-bottom: 100px;
}

.myblog .section-heading {
    color: var(--pure);
}





